#copyright
{
	position: relative;
	letter-spacing: 1px;
	text-align: center;
	color: #737576;
	z-index: -1;
}
#copyright h2
{
	font-size: 20px;
	color: white;

}

#copyright a
{
	text-decoration: none;
	color: #ccc;
}